.default-color0.chart-series-area-line { -fx-stroke: #0077ff; }
.default-color0.chart-series-area-fill { -fx-fill: #0077ff; }
.default-color0.chart-area-symbol { -fx-background-color: #0077ff, white; }